    <div class="generalStatsContainer">
      <div class="statsBigContainer">
        <div class="statsContainer">
          <span class="labelInfo">Games Played: </span>
          <span class="resultInfo">{{gamePlayed}} Games</span>
        </div>
        <div class="statsContainer">
          <span class="labelInfo">Total Game Time: </span>
          <span class="resultInfo"> {{totalGameTime}}</span>
        </div>
      </div>
      <div class="statsBigContainer">
        <div class="statsContainer">
          <span class="labelInfo">Winrate: </span>
          <span class="resultInfo">{{winrate}}%</span>
        </div>
        <div class="statsContainer">
          <span class="labelInfo">Total Time: </span>
          <span class="resultInfo">{{totalTime}}</span>
        </div>
      </div>
    </div>
