<div class="container">
    <form id="loginForm" [formGroup]="form">
      <img id="logo" src="assets/Images/DrawHub_Logo.svg" alt="LOGO">
      <h4>Please enter your new password</h4>
      <div class="input">
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput color ="accent" formControlName="password" [type]="'password'">
          <mat-error *ngIf="form.get('password').invalid">
            <div *ngIf="form.get('password').errors.required">
              Password must be provided
            </div>
            <div *ngIf="form.get('password').errors.minlength">
              Password must be 4 characters or more
            </div>
            <div *ngIf="form.get('password').errors.maxlength">
              Password must be 20 characters or below
            </div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <mat-form-field appearance="outline">
          <mat-label>Re-enter New Password</mat-label>
          <input matInput color ="accent" formControlName="confirm" [type]="'password'">
          <mat-error *ngIf="form.get('confirm').invalid">
            <div *ngIf="form.get('confirm').errors.required">
              Password re-entry must be provided
            </div>
            <div *ngIf="form.get('confirm').errors.minlength">
              Password re-entry must be 4 characters or more
            </div>
            <div *ngIf="form.get('confirm').errors.maxlength">
              Password re-entry must be 20 characters or below
            </div>
          </mat-error>
        </mat-form-field>
      </div>
      <button id="loginButton" class="buttonLogin" mat-raised-button color ="accent" 
      [disabled]="form.get('password').invalid || form.get('confirm').invalid"
      (click)="onChange()">Change Password</button>
      <div class="loading" *ngIf="loading">
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
      <div class="loading error" *ngIf="errorMessage !== ''">
        <p>{{errorMessage}}</p>
      </div>
    </form>
    <button (click)="onBack()" class="buttonLogin" id="forgotPassword" mat-raised-button color ="accent">back</button>
  </div>