<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.example.drawhubmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DrawHubApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_drawhub_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_drawhub_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".uicontrollers.game.GameActivity"></activity>
        <activity android:name=".uicontrollers.auth.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".uicontrollers.main.MainActivity"
            android:configChanges="orientation"
            android:parentActivityName=".uicontrollers.auth.AuthActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>