.container {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: auto;
    justify-items: center;
    height: 100%;
    width: 100%;
}

div {
    align-items: center;
}
.backButton {
  margin-right: 60px;
}
/* .mat-send {
    background-color: #191A1D;
    color: #F2BE54;
  } */
  .smallButton {
    padding-left: 8px;
    padding-right: 8px;
    min-width: 36px;
  }
  .backButton {
    margin-right: 60px;
  }

  .cropText {
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}