.containerScoreboard {
    width: 100%;
    /* height: 100%; */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  table {
    width: 100%;
  }
  .stickyHeader {
    background-color: #191A1D;
    position: sticky; 
    top: 0;
  }
  .w-30 {
    width: 30%;
  }
  .w-10 {
    width: 10%;
  }
  .preventOverflow {
    overflow: auto;
    /* height: 100%; */
    height: 60vh; 
  }
  .h-row {
    height: 70px;
  }
  .w-20 {
    width: 20%;
  }
  .bigSize {
    color: #EEEEEE !important;
    font-size: 1.17em;
  }

  .w-40 {
    width: 40%;
  }
  
  .w-15 {
    width: 15%;
  }
  .th-left {
    text-align: left;
  }
  .th-center {
    text-align: center;
  }
  .mat-cell {
    color: #CCCCCC;
  }
  
  .mat-cell.highlight {
    color: black !important;
  }

  .tableContainer {
    background-color: #191a1d;
  }