
.container {
    height: 100%;
    width: 100%;
    background-color: #191A1D;
    text-align: center;
  }
  
  mat-form-field {
    margin: 0px 10px;
  }
  
  h4 {
    margin: none;
    padding: none;
  }
  
  mat-button-toggle-group {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    width: fit-content;
    margin: auto;
  }
  
  mat-button-toggle {
    margin-bottom: 10px;
  }

  .headerEdit {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  input {
    width: fit-content;
  }
  
  .avatars {
    
  }
  
  #logo {
    width: 400px;
    height: 200px;
  }
  
  .noMarginBottom {
    margin-bottom: 0;
    padding-bottom: 0;
    height: fit-content;
  }
  
  .avatarGroup {
    border: 1px solid  #CCCCCC;
    border-radius: 12px;
  }
  
  .noMarginNoPadding {
    margin: 5;
    padding: 0;
  }
  
  #signupForm {
    display: grid;
    width: fit-content;
    grid-template-rows: auto auto auto auto;
    margin: auto;
  }
  
  .pair {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .maxWidth {
    width: 100%;
  }
  
  .error {
    color: #FF6666;
  }
  
  .loading {
    min-width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 20px;
  }
  
  #buttonsDiv {
    display: flex;
    width: fit-content;
    margin: auto;
  }
  
  #buttonsDiv button {
    margin: 20px;
    font-size: 22px;
    padding: 16px 100px;
    font-weight: 400;
  }
  
  ::ng-deep.mat-form-field {
    color: #CCCCCC;
  }
  
  ::ng-deep.mat-focused .mat-form-field-label,
  .mat-stroked-button:not(.mat-button-disabled) {
    color: #F2BE54 !important;
  }
  
  ::ng-deep.mat-stroked-button:not(.mat-button-disabled) {
    border-color: #F2BE54;
    background-color: none;
  }
  
  ::ng-deep.mat-raised-button:not(.mat-button-disabled) {
    background-color: #F2BE54 !important;
  }
  
  ::ng-deep.mat-raised-button.mat-button-disabled.mat-button-disabled {
    background-color: #292A2D;
    color: #191A1D;
    border-color: #F2BE54;
  }
  
  ::ng-deep.mat-form-field-label {
    color: #CCCCCC;
  }
  
  ::ng-deep.mat-form-field-underline {
    background-color: #F2BE54 !important;
  }
  
  ::ng-deep.mat-form-field-ripple {
    background-color: #F2BE54 !important;
    ;
  }
  
  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline,
  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #CCCCCC33;
  }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #F2BE54 !important;
  }
  
  ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
    background: #4a4948;
  }
  
  